APP_NAME="Turtle Tools"
ALLOW_ORIGIN="example.com"

# user db
DB_USERNAME=""
DB_PASSWORD=""
DB_NAME="database.db"

# jwt config
# python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET_KEY="your-secret-key"
JWT_EXPIRE_MINUTES=60

# default user credentials
APP_DEFAULT_USERNAME="admin"
APP_DEFAULT_PASSWORD="admin"

# download media output folder
MEDIA_FOLDER="./media"
COOKIES_PATH="./cookies.txt"